.fsUsuarios {
  min-width: 20rem;
  display: flex;
  flex-direction: row;
  background-color: var(--color-main-0);
  border-radius: 20px;
  width: 90rem;
  height: 46.4rem;

  [data-fs-menu] {
    background-color: var(--color-main-3);
    width: 28rem;
    padding: 2rem;
    color: var(--color-main-4);
    border-radius: 20px 0 0 20px;
  }

  [data-fs-form] {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    [data-fs-form-label] {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.8rem;
    }
  }

  [data-fs-buttons] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
  }
}
