.fsUsuarios {
  min-width: 20rem;
  display: flex;
  flex-direction: row;
  background-color: #FAF7F0;

  [data-fs-menu] {
    background-color: #BCCEF8;
    height: 100vh;
    width: 24rem;
    padding: 1rem;
    color: #000;
    box-shadow: 20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
  }

  [data-fs-form] {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    [data-fs-form-label] {
      display: flex;
      flex-direction: column;
      margin-bottom: .8rem;

      input {
        margin-top: .4rem;
        padding: 1rem .5rem;
      }
    }
  }

  [data-fs-buttons] {
    display: flex;
    justify-content: space-between;
  }

  [data-fs-table-wrapper] {
    align-items: center;
    margin: 2rem 60px;


    [data-fs-table] {
      border-spacing: 0px;

      th {
        height: 2rem;
        border: 1px solid #e0e0e0;
      }

      [data-fs-table-header] {
        background-color: #BCCEF8;
        color: #000;;
        border-radius: 14px;
      }

      [data-fs-table-items] {
        text-align: left;
        padding: 2rem;
        padding-left: 2rem;

        &:nth-child(odd) {
          background-color: #e9e9e9;
        }

        th {
          padding-left: 0.5rem;
        }
      }

      [data-fs-table-id] {
        min-width: 6rem;
      }

      [data-fs-table-name] {
        min-width: 20rem;
      }

      [data-fs-table-login] {
        min-width: 8rem;
      }
    }
  }


}