body {
  --color-main-0: #faf7f0;
  --color-main-1: #cdfcf6;
  --color-main-2: #bccef8;
  --color-main-3: #98a8f8;
  --color-main-4: #000;

  --color-navbar-bkg: rgba(250, 247, 240, 0.25);

  --color-neutral-0: #7c89cc;
}
